<html lang="ko">
<head>
    <meta charset="UTF-8">

    <!-- Boot strap -->
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <style>
        .content{
            height: 75%;
        }
        .messageDiv{
            margin-top: 20px;
            margin-bottom: 50px;
        }
        .custom-btn{
            font-size: 10px;
        }
        .panel-footer{
            height:10%;
            color:gray;
        }
    </style>

    <title>로그인 창</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="page-header">
                <h1>
                    <a href="/index" class="btn btn-default btn-xs" style="margin: 10px">백테스팅화면</a>
                    pj_송골매 <small>with dw</small>
                </h1>
            </div>
        </div>
        <div class="content">
            <div class="mainDiv">
                <h3>안녕하세요. 로그인을 진행해주세요.</h3><br>
                <form action="signin/login" method="POST">{% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">이메일</span>
                        <input type="email" name='loginEmail' class="form-control" placeholder="이메일을 적어주세요." aria-describedby="basic-addon1">
                    </div><br>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">비밀번호</span>
                        <input type="password" name='loginPW' class="form-control" placeholder="비밀번호를 적어주세요." aria-describedby="basic-addon1">
                    </div><br>
                    <input type="submit" class="btn btn-success btn-lg" value="로그인">
                </form>
                <a href="signup">회원가입하기</a>
            </div>
        </div>
        <div class="panel-footer">
            pj_송골매
        </div>
    </div>
</body>
</html>