(start.html)
<html>
  <div class="page-header1">
    <h3>
        <a href="/explain1" class="btn btn-default btn-xs" style="margin: 10px">go_explain1</a>
    </h3>
</div>

<div class="page-header2">
  <h3>
      <a href="/explain2" class="btn btn-default btn-xs" style="margin: 10px">go_explain2</a>
  </h3>
</div>

<div class="page-header3">
  <h3>
      <a href="/explain3" class="btn btn-default btn-xs" style="margin: 10px">go_explain3</a>
  </h3>
</div>

<div class="page-header4">
  <h3>
      <a href="/signin" class="btn btn-default btn-xs" style="margin: 10px">go_signin</a>
  </h3>
</div>
    <p>소개글
      <h2>  Maxturn - 수익률을 확인하고 투자하세요.</h2>
      <h3>  맥스턴은 백테스트를 진행하고, 이에 대한 전략을 수립하고 유저들과 공유하는 플랫폼입니다.</h3>
        <h4>1 맥스턴은 여러분의 시간, 노력을 절감시켜줄 수 있습니다. 투자 종목을 찾기 위해서 매번 많은 시간과 노력을 쏟기는 힘들지 않으신가요? 퀀트 투자는 자신만의 투자 모델이 정립된다면, 데이터를 넣은 직후 바로 종목을 선정할 수 있습니다.</h4>
        <h4>2 백테스트를 진행하여 투자 전략의 성패를 눈으로 직접 확인해보세요. 주관적인 판단을 배제하고, 끊임 없는 계량화로 최적의 전략을 수립할 수 있게 해줍니다.</h4>
        <h4>3 맥스턴에서는 고수들의 투자법과 전략을 볼 수도 있으며, 자신만의 전략을 공유할 수도 있습니다. 자신만의 전략을 수립하기 힘들다면, 그리고 자신의 전략에 대해 피드백을 받고 싶다면 전략 공유 커뮤니티를 활용해보세요.</h4>
    </p>
</html>
