// 전체화면 설정
body {
  margin: 0;
  background-image: url(../static/img/backgroundImg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  // overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
.filterContainer::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: gray;
}
.filterContainer::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
